{% macro render_blog_post(post, from_index=false) %}
  <div class="post-header mb2">
  {% if from_index %}
    <a class="post-link" href="{{ post|url }}"><h3 class="h1 post-title">{{ post.title }}<h3></a>
  {% else %}
    <h1>{{ post.title }}</h1>
  {% endif %}
  <p class="post-meta">
    <!--
    written by
    {% if post.twitter_handle %}
      <a href="https://twitter.com/{{ post.twitter_handle
        }}">{{ post.author or post.twitter_handle }}</a>
    {% else %}
      {{ post.author }}
    {% endif %}
    -->
    <time class="dt-published" datetime="{{ post.pub_date }}">{{ post.pub_date.strftime("%b %d, %Y")}}</time>
  </p>
  </div>
  <article class="post-content">
    {% if from_index %}
      {{ post.body|excerpt }}
      <a class="post-link" href="{{ post|url }}">Read more...</a>
    {% else %}
      {{ post.body }}
    {% endif %}
  </article>
{% endmacro %}
