{% macro render_blog_post(post, from_index=false) %}
  <div class="post-header mb2">
  {% if from_index %}
    <a class="post-link" href="{{ post|url }}"><h3 class="h1 post-title">{{ post.title }}<h3></a>
  {% else %}
    <h1>{{ post.title }}</h1>
  {% endif %}
  <span class="post-meta">
    written by
    {% if post.twitter_handle %}
      <a href="https://twitter.com/{{ post.twitter_handle
        }}">{{ post.author or post.twitter_handle }}</a>
    {% else %}
      {{ post.author }}
    {% endif %}
    on {{ post.pub_date }}
    </span>
  </div>
  <article class="post-content">
      {{ post.body }}
  </article>
{% endmacro %}
